snippet html "Html boilerplate" b
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  $0
  </body>
</html>
endsnippet

snippet link "Adds link markup" b
<link rel="stylesheet" type="text/css" href="${1:style.css}" />
$0
endsnippet
